* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  color: #93a4aa;
  font-family:'Lato','Arial','sans-serif';
  overflow-x: hidden;
}
h1{
  font-weight: 300;
}
.clearfix{
  content:"";
  display: table;
  clear: both;
}
.row{
  max-width: 1140px;
  margin: 0 auto;
}
a:link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
}
.video {
  width: 100%;
  height: 100vh;
  position: relative;
}
.video-section{
  margin:0;
  padding: 0;
}
.video__main {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.hero-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  width: 100%;
  text-align: center;
}
.tag-line h1 {
    font-size: 3.0rem;
    color: white;
}
.hero-text-button{
  margin-top: 80px;
  text-align: center;
}
.button-hire{
   font-size: 1rem;
   border: 2px solid #FED766;
   color: white;
   border-radius: 200px;
   padding: 15px 25px;
   word-spacing: 1.1px;
   display: inline-block;
   transition: all 0.35s;
}
.button-hire:hover{
    background: #FED766;
    color: black;
    padding: 15px 28px;
    font-weight: 400;
}
.page-scroll{
    position: relative;
    top: 140px;
}
.learn-more{
  color: rgba(255,255,255,0.7);
  font-size: 1rem;
  transition: all 0.35s;
}
.learn-more:hover{
  color:rgba(255,255,255,1.0);
}
.ion-chevron-down{
  font-size: 30px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: all 0.35s;
  top:10px;
}
.ion-chevron-down:hover{
  color:rgba(255,255,255,1.0); 
}
section{
  padding: 100px 0;
}
h2{
  text-align: center;
  font-size: 3.2rem;
  font-weight: 300;
  color: black;
}
.white-background{
  width: 128px;
  margin: 0 auto;
  height: 128px;
  border-radius: 50%;
  /*box-shadow: 20px 20px 25px 0 rgba(46,61,73,.2);*/
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 1);
  position: relative;
  transition: transform 0.3s;
}
.white-background img{
  width: 65%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.first-line,
.second-row{
  width: 960px;
  margin: 40px auto;
}
.white-background:hover{
  transform: scale(1.15);
}
.personal-projects{
  background: #EEEEEE;
}
.projects{
  width: 90%;
  height: auto;
  border-radius: 10px;
  transform: scale(1.00);
  transition: transform 0.3s,opacity 0.3s;
}
ul li{
  position: relative;
}
.img-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
  font-weight: 800;
  letter-spacing: 4px;
  font-size: 25px;
  z-index: 9999;
}

.projects:hover{
  /*opacity: 1;*/
  transform: scale(1.03);
}
ul{
  list-style-type: none;
  text-align: center;
  padding: 5px 5px;
}
.contacts{
  background: #FED766;
}
.statement{
  margin: 10px;
  font-size: 1.5rem;
  color: black;
  padding: 20px 55px;
  width:100%;
  text-align: center;
}
.new{
  font-size: 1rem;
  border: 2px solid #000;
  color: #000;
  border-radius: 200px;
  padding: 15px 30px;
  font-weight: 400;
  word-spacing: 1.1px;
  display: inline-block;
  transition: all 0.35s;
}
.new:hover{
    background: black;
    color: #FED766;
    padding: 15px 35px;
    font-weight: 400;
}
.work-text-button{
  text-align: center;
   margin-top: 10px; 
}
footer{
  background: #252A30;
  padding: 60px;
  text-align: center;
  color: white
}
#footer{
  font-size: 1rem;
  font-weight: 300;
}
.social-icons{
  margin-top: 8px;
}
.social{
  color: #e6e6e6;
  font-size: 1.3rem;
  text-decoration: none;
  display: inline-block;
  transition: color 0.2s;
  margin-right: 20px;
}
.ion-social-facebook:hover{
  color: #3b5998;
}
.ion-social-twitter:hover{color:#00aced;}
.ion-social-instagram:hover{color:#dd4b39;}
.ion-social-googleplus:hover{color:#517fa4;}

@media only screen and (max-width:1220px){
  .tag-line h1 {
    font-size: 2.8rem;
  }
  .hero-text-button {
    margin-top: 60px;
    text-align: center;
  }
  .button-hire {
    font-size: 0.9rem;
    padding: 13px 23px;
    word-spacing: 1px;
  }
  .button-hire:hover {
    padding: 13px 25px;
    font-weight: 300;
  }
  .page-scroll {
    position: relative;
    top: 105px;
  }
  h2 {
    font-size: 2.9rem;
  }
  .statement {
    font-size: 1.4rem;
  }
  .img-text{
    font-size: 23px;
  }
}
@media only screen and (max-width: 1010px){
    .ion-chevron-down {
      font-size: 25px;
      top: 8px;
    }
    .first-line, .second-row {
      width: 920px;
     margin: 40px auto;
    }
}
@media only screen and (max-width: 940px){

  .first-line, .second-row {
    width: 860px;
    margin: 40px auto;
  }
  h2 {
    font-size: 2.5rem;
  }
  .tag-line h1 {
    font-size: 2.7rem;
  }
  .img-text {
    font-size: 21px;
  }
}
@media only screen and (max-width:893px){
  .tag-line h1 {
    font-size: 2.4rem;
  }
  .hero-text-button {
    margin-top: 50px;
  }
  .button-hire {
    font-size: 0.8rem;
    padding: 9px 20px;
    word-spacing: 1px;
  }
  .button-hire:hover {
    padding: 9px 22px;
  }
  .page-scroll {
    /* position: relative; */
    top: 125px;
  }
  .first-line, .second-row {
    width: 805px;
    margin: 40px auto;
  }
  .new {
    font-size: 0.8rem;
    padding: 12px 26px;
  }
  .new:hover {
    padding: 12px 30px;
  }
  .img-text {
    font-size: 18px;
  }
}


@media only screen and (max-width: 810px) {
  .tag-line h1 {
    font-size: 2.2rem;
  }
  .video__main {
    display: none;
  }
  
  .video {
    width: 100%;
    height: 100vh;
    background-image: url(../Love-Coding/Snapshots/Love-Coding.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .first-line, .second-row {
    width: 770px;
    margin: 35px auto;
  }
}
@media only screen and (max-width:777px){
  .first-line, .second-row {
    width: 680px;
    margin: 30px auto;
  } 
  .tag-line h1 ,h2{
    font-size: 2.2rem;
  }
  h2{
    font-size: 2.0rem;
  }
  .statement {
    font-size: 1.2rem;
  }

}
@media only screen and (max-width:690px){
  .tag-line h1 {
    font-size: 2.0rem;
  }
  .col {
     margin: 0!important; 
  }
  .second-row {
      margin-top: 0;
  }
  .first-line{
    margin-bottom: 0;
  }
  .span-1-of-4{
    width: 48%!important;
  }
  .first-line, .second-row {
    width: 550px; 
  }
  .span-1-of-3 {
    width: 48%!important;
  }
  .first-line div,.second-row div{
      margin-bottom: 15px!important;
  }
  section {
    padding: 50px 0;
  }
  li img{
    margin-bottom: 15px;
  }
  .statement {
    font-size: 1rem;
    padding: 15px 15px;
  }
  .white-background{
    width: 110px;
    height: 110px;
  }
  .new {
    font-size: 0.7rem;
    padding:10px 22px;
  }
  .new:hover {
    padding: 10px 24px;
  }
  .img-text {
    font-size: 20px;

  }
}
@media only screen and (max-width:535px){
  .first-line, .second-row {
    width: 445px;
  }
  .tag-line h1 {
    font-size: 1.8rem;
  }
  section {
    padding: 30px 0;
  }
  .img-text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 455px){
  .tag-line h1 {
    font-size: 1.5rem;
  }
  .button-hire {
    font-size: 0.7rem;
    padding: 9px 18px;
    word-spacing: 0.9px;
  }
  .button-hire:hover {
    padding: 9px 18px;
  }
  h2 {
    font-size: 1.7rem;
  }
  #footer{
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 430px){
  .first-line, .second-row {
    width: 405px;
    padding: 0 20px;
  }
  .tag-line h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.6rem;
    margin-left: 25px;
  }
  .img-text {
    font-size: 13px;
    font-weight: 500;
  }
  .projects{
    width: 80%;
  }

}


